.settings(id="settings")
  form(method="POST")
  button.blueButton.pic
    p.bigtext Edit Picture
  button.blueButton.lang
    p.bigtext Edit Languages
  button.blueButton.bio
    p.bigtext Edit Biography
  button.blueButton.discard(onclick="window.location.href = 'delete';")
    p.bigtext Delete Account

.settings.edit-profile(id="alter-bio")
  br
  p.bigtext Edit Biography
  form(method="POST")
    input(type="text" name="bio" maxlength="180" autocomplete="off" value=bio)
    .container
      button.blueButton.submit(type="submit" formaction="/alterBio")
        p.bigtext Submit
      button.blueButton.discard(type="button")
        p.bigtext Discard
        
.settings.edit-profile(id="alter-languages")
  br
  p.bigtext Edit Languages
  form(method="POST")
    .toggle-languages
      each val, index in languagesArray
        - var address = "./public/images/languages/" + index + ".svg"
        if val == true
          .language
            input(type="checkbox" name=index id=index checked)
            label(for=index)
              img(src=address) 
              p= index
        else
          .language
            input(type="checkbox" name=index id=index)
            label(for=index)
              img(src=address) 
              p= index
    .container
      button.blueButton.submit(type="submit" formaction="/alterLanguages")
        p.bigtext Submit
      button.blueButton.discard(type="button")
        p.bigtext Discard

.settings.edit-profile(id="alter-picture")
  br
  p.bigtext Edit Picture
  - var imageSRC = "./public/images/userPP/" + pictureName
  img(src=imageSRC id="output" width="200" height="200" style="border-radius: 50%")
  P Square image is recommended.
  form(method="POST" action="/alterPicture" enctype="multipart/form-data")
    input(type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="file" style="display: none;")
    button.blueButton(type="button")
      label(for="file" style="cursor: pointer;")
        p.bigtext Upload Image
    .container
      button.blueButton.submit(type="submit")
        p.bigtext Submit
      button.blueButton.discard(type="button")
        p.bigtext Discard
