doctype html
html(lang=en)
  include includes/head
  script(type="text/javascript" src="/js/menu.js")
  script(type="text/javascript" src="/js/settings.js")
  body.dark
    include includes/header-menu-dark
    include includes/menu
    content
    .profile
      .upper-part
        .picture
          - var imageSRC = "/images/userPP/" + pictureName + ".svg"
          img(src=imageSRC, alt="Profile Picture")
        .name-lang
          .username
            if username != ''
              p.gianttext= username
            else
              p.gianttext UserUndefined
          .languages
            each val, index in languagesArray
              if val == true
                - var address = "/images/languages/" + index + ".svg"
                .language
                  img(src=address, alt="index")
                  p.smalltext= index
      .bio
        p= bio
    include includes/settings
    include includes/footer-profile-dark